div {
    border: 3px solid black;
    width: 175px;
    height: 175px;
}

.column1 {
    display: inline-block;
}

.column2 {
    display: inline-block;
}

.column3 {
    display: inline-block;
}

h1 {
    text-align: center;
}